<!---
<p>product works!</p>
{{title}}
<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>price</th>
        <th>quantity</th>
        <th>like</th>
    </tr>
    <tr *ngFor="let p of listProduct">
        <th>{{p.id}}</th>
        <th>{{p.title}}</th>
        <th>{{p.price}}</th>
        <th>{{p.quantity}}</th>
        <th>{{p.like}}</th>
    </tr>
</table>
-->
<input type="number" name="price" [(ngModel)]="priceMax">
<div class="row">
        <div class="col-md-4" *ngFor="let p of listProduct, let i=index">
            <div *ngIf="p.price < priceMax || priceMax==null">
                <div  class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.apple.com/v/product-red/x/images/meta/og_world_aids__ccal5yhp82b6_day.png?202212020339" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Product: {{p.title}}</h5>
                    <p class="card-text">Price: {{p.price}}</p>
                    <p class="card-text">Quantity: {{p.quantity}}</p>
                    <p class="card-text">Like: {{p.like}}</p>
                    <button class="btn btn-primary"(click)="increment(i)">Like</button>
                    <button class="btn btn-info"(click)="decrement(i)" [disabled]="p.quantity==0">Buy</button>
                    </div>
                </div>
            </div>
        </div>  
</div>
